<div class="container h-100 w-100 justify-content-center">


    <form class="col-md-4">
        <label class="textArea-label" for="newblogPost">
            Your comment
        </label>
        <br>
        <textarea class="blogPost-textarea" name="newBlogPost" rows="5" cols="30">{{newBlogPost}}</textarea>
    </form>


    <button class="save-blogPost btn">Save new post</button>
</div>

<script src="/js/newpost.js"></script>