<div class="container h-100 w-100 justify-content-center">

    <h2>{{ username }}'s Dasboard</h2>

    <a href="/newblogpost">

        <button class="btn btn-primary">Add new blog post</button>
    </a>

    {{#each blogs}}
    <div class="posts container h-100 w-100 justify-content-center">

        <a id="topic" href="/dashboard/{{id}}">
            <span id="headline"><strong>Topic:</strong> {{this.topic}}</span><br>
        </a>
        <span> {{this.excerpt}}</span>
    </div><br>

    {{/each}}

</div>