<div>

    <form>
        <label class="topc-label" for="topicText">
            Edit topic
        </label>
        <br>
        <textarea class="topic-textarea" name="topicText" rows="2" cols="30">{{blogData.topic}}</textarea>
    </form>

    <form>
        <label class="content-label" for="contentText">
            Edit post
        </label>
        <br>
        <textarea class="content-textarea" name="contentText" rows="5" cols="30">{{blogData.content}}</textarea>
    </form>

    <button class="editBtn btn btn-primary">Edit</button>
    <button class="deleteBtn btn btn-primary">Delete</button>
</div>

<script src="/js/editpost.js"></script>