<div class="posts container h-100 w-100 justify-content-center">


    <form>
        <label class="textArea-label" for="newblogPost">
            New blog Post
        </label>
        <br>
        <p>Blog topic</p>
        <textarea class="blogTopic-textarea textarea" name="newBlogTopic" rows="2" cols="100">{{newBlogTopic}}</textarea>
        <br>
        <p>Blog content</p>
        <textarea class="blogPost-textarea textarea" name="newBlogPost" rows="10" cols="100">{{newBlogPost}}</textarea>
    </form>


    <button class="btn btn-primary save-blogPost">Save blog post</button>
</div>

<script src="/js/newpost.js"></script>